<h1><%=@player1%> VS <%=@player2%></h1> 

<style>
div {
  background-color: lightgreen;
  width: 120px;
  border: 2px solid green;
  padding: 5px;
  margin: 30px;
  text-align: center;
}
</style>

<div> <%=@player2%>: HP 10/10 </div>
