<h1>Welcome to Battle!<%= %></h1> 
<h2>Add payer names<%= %></h1> 

<form action="/battleground" method="post">
  Player 1 
  <input type="text" name="player1">
  <br>
  Player 2
  <input type="text" name="player2">
  <br>
  <input type="submit" value="Submit">
</form>